{% extends "inventory/base.html" %}

{% block content %}
  {% for group in group_list %}

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="#">{{ group.name }}</a>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">{{ group.device_set.all|length }}</span>
          Devices
        </li>
        <li class="list-group-item">
          <span class="badge">{{ group.student_set.all|length }}</span>
          Students
        </li>
      </ul>
    </div>
</div>
  {% endfor %}
{% endblock %}
